.blog {
    & .card{
        @include boxShadow;
    }
}

.label {
    font-size: 12px;
    font-size: .75rem;
    line-height: 18px;
    color: #fff;
    background-color: $primary-color-3;
    display: inline-block;
    padding: 4px 8px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}