.service.card {
    @include transition;
    position: relative;
    z-index: 100;
    background-color: $primary-alt-1;
    min-height: 90px;

    & .h4,  {
        color: inherit;
    }

    .arrow-link {
        background-color: transparent;
        text-decoration: none;
        white-space: nowrap;
    
        &:after {
        position: relative;
        bottom: 0.2ex;
        margin-left: 1rem;
        content: "";
        font-family: "FontAwesome";
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;
        @include transition;
        }
    
        &:hover:after {
        transform: translateX(7px);
        }
    }

    & .icon {
        color: $accent-color;
        font-size: 4rem;
        margin-left: -4rem;
        overflow: hidden;
        display: none;
    }

    &.active, &:active, &:hover {
        background: $accent-color;
        @include transition;
        max-height: 90px;

        .icon {
            color: $primary-alt-2;
            display: block;
            transform: scale(1) rotate(0deg) translateX(2rem) translateY(0px);
            @include transition;
            opacity: 0.8;
        }
        .h4 {
            margin-left: 0.75rem;
            @include transition;
        }
        .h4, .card-text {
            color: $primary-alt-2;
            transform: scale(1) rotate(0deg) translateX(2.25rem) translateY(0px);
            @include transition;
        }
    }
}