$border-radius: 0.258rem;

$primary-color-1: #3755be;
$primary-alt-1: #f3f5fb;

$primary-color-2: #ff8e88;
$primary-alt-2: #fff8f8;

$primary-color-3: #1b1f3b;
$primary-alt-3: #f1f2f3;

$accent-color: #E9204F;